# Bỏ qua môi trường ảo (Cực kỳ quan trọng)
.venv/
venv/
env/

# Bỏ qua file môi trường bảo mật
.env

# Bỏ qua cache của Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Bỏ qua database local
db.sqlite3

# Bỏ qua folder Git
.git/
.gitignore

# Bỏ qua media/static local
media/

# Bỏ qua file log
*.log