# =========================================================
# DJANGO
# =========================================================

DJANGO_SECRET_KEY=your-real-django-secret-key
DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# =========================================================
# MONGODB ATLAS
# =========================================================

MONGO_DB_NAME=school_learning_system
MONGO_HOST=mongodb://nhat283000_db_user:RGAw2vcnAcH7YKYj@ac-r476b0s-shard-00-00.lzdsbrw.mongodb.net:27017,ac-r476b0s-shard-00-01.lzdsbrw.mongodb.net:27017,ac-r476b0s-shard-00-02.lzdsbrw.mongodb.net:27017/?ssl=true&replicaSet=atlas-qer453-shard-0&authSource=admin&appName=Database

# =========================================================
# JWT
#==========================================================
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7